@media(min-width: 250px){
  .header{
    .language{
        display: flex;
        justify-content: center;
    }
    .modal-btn{
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
  }
}