@media(max-width: 250px) {
    .edit {
        text-align: end;

    }

    .delete {
        margin-left: 0px !important;
        margin-top: 3px;
    }
}


.bg:hover{
    background-color: #00d68f;
    color: white;
  }